<!DOCTYPE html>
<html lang="en">
    <%- include('header.ejs')  %>
<body>
    <%- include('index_home.ejs') %>
    <%- include('index_about.ejs') %>
    <%- include('index_service.ejs') %>
    <%- include('index_product.ejs') %>
    <%- include('index_contact.ejs') %>
    <%- include('index_footer.ejs') %>

    <script src="/header.js"></script>
</body>
</html>