<!DOCTYPE html>
<html lang="en">
    <%- include('header.ejs')  %>
<body>
    <section id="home" class="home">
        <nav>
            <ul class="sidebar">
                <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#product">Product</a></li>
                <li><a href="#contact">Contact</a></li>
                <li  onclick="showLoginDialog()"><a href="#">Login</a></li>
            </ul>
        </nav>
    
        <nav>
            <ul>
                <li class="hideOnMobile"><a href="#home">pNguyenHomeSevices Inc</a></li>
                <li class="hideOnMobile"><a href="#about">About</a></li>
                <li class="hideOnMobile"><a href="#service">Service</a></li>
                <li class="hideOnMobile"><a href="#product">Product</a></li>
                <li class="hideOnMobile"><a href="#contact">Contact</a></li>
                <li class="hideOnMobile" onclick="showLoginDialog()"><a href="#">Login</a></li>
                <li class="menu-button" onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav>
    </section>

    <section id="signup" class="signup">
        <div id="signup-div" class="about-div">
            <div id="left" class="left">
    
            </div>
            <div id="right" class="right">
                <div id="title" class="title"><h2>USER PROFILE</h2></div>
                <p>Caution: You can't go back to your old data when clicking on the Update button.</a></p>
                <form action="/user/<%=user.id%>" method ="POST">
                    <div id="infor" class="infor">
                        <label>Full Name</label>
                        <input type="text" name="name" value="<%=user.name%>">
                        <label>Email</label>
                        <input type="text"  name="email" value="<%=user.email%>">
                        <label>User Name</label>
                        <input type="text"  name="user_name" value="<%=user.user_name%>">
                        <label>Password</label>
                        <input type="password" name="password" value="<%=user.password%>">
                        <button type="submit">Update</button>
                        <label>
                            <input type="checkbox"><span> Sign up for email updates.</span>
                        </label>
                        <p><span class="small" id="small">By continuing, you agree to accept our
                            <a href="">Private Policy</a> &amp;<a href="">Terms of Services.</a></span>
                        </p>
                    </div>
                </form>
                
            </div>
        </div>
    </section>




    <%- include('index_footer.ejs') %>
    <script src="/header.js"></script>
</body>
</html>
